@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden !important;
}

/* hide vertical scrollbar completely */
::-webkit-scrollbar:vertical {
  width: 0px;
}

body {
  scrollbar-width: none;
}

body {
  background-color: #efefef;
}

.shadow {
  box-shadow: 0 0px 10px rgba(77, 77, 77, 0.1);
}

.lineShadow {
  box-shadow: 0 0px 10px rgba(73, 122, 245);
}

.dropdown {
  transition: all 0.3s linear 0s;
  list-style: outside none none;
  right: -50px;
  top: 45px;
  opacity: 0;
  visibility: hidden;
  border: 1px solid #dadada;
  overflow-y: scroll;
  border-radius: 4px;
}

.dropdown.show {
  opacity: 1;
  visibility: visible;
}

.dropdown::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
